:root {
--Light-red: hsl(0, 100%, 67%);
--Orangey-yellow: hsl(39, 100%, 56%);
--Green-teal: hsl(166, 100%, 37%);
--Cobalt-blue: hsl(234, 85%, 45%);

--Light-slate-blue-background: hsl(252, 100%, 67%);
--Light-royal-blue-background: hsl(241, 81%, 54%);

--Violet-blue-circle: hsla(256, 72%, 46%, 1);
--Persian-blue-circle: hsla(241, 72%, 46%, 0);

--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);

--size: 1.125rem;
--heading-size: 1.188rem;
--padding-box: 2.5rem 1.563rem;
--border-r: 30px;

}
/* Start Global Rules */

* {
        box-sizing: border-box;
        margin: 0;
        padding: 0
}
        /* Fonts */
@font-face {
        font-family: 'Hanken Grotesk';
        src: url('fonts/static/HankenGrotesk-Bold.ttf') format('truetype');
        font-weight: 700
}    
@font-face {
        font-family: 'Hanken Grotesk';
        src: url('fonts/static/HankenGrotesk-ExtraBold.ttf') format('truetype');
        font-weight: 800
}   
@font-face {
        font-family: 'Hanken Grotesk';
        src: url('fonts/static/HankenGrotesk-Meduim.ttf') format('truetype');
        font-weight: 500
}      
body {   
        font-family: 'Hanken Grotesk', sans-serif;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center
}

/* Start Box */
.box {
        display: flex;
        flex-direction: column;
        border-radius: var(--border-r);
        background-color: var(--White);
        text-transform: capitalize;
        box-shadow: 0px 8px 12px 10px var(--Pale-blue);
        width: 100%;
        max-width: 46.875rem
}
/* Start Left Box */
.box-left {
        background-image: linear-gradient(to top,
        var(--Light-royal-blue-background),
        var(--Light-slate-blue-background) );
        padding: var(--padding-box);
        border-radius:0%;
        border-bottom-left-radius: var(--border-r);
        border-bottom-right-radius: var(--border-r);
        flex-basis: 50%;
        text-align: center
}
.box-left h1 {
        font-size: var(--heading-size);
        color: var(--Light-lavender);
        font-weight: 700
}
.box-left .score {
        background-image: linear-gradient(to top,
        var(--Persian-blue-circle),
        var(--Violet-blue-circle));
        border-radius: 50%;
        width: 9.375rem;
        height: 9.375rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.625rem;
        margin: 1.875rem auto
}
.box-left .score span {
        display: block;
        color: var(--White);
        font-size: 3.75rem;
        font-weight: 800;   
        position: relative
}
.box-left .score span::after {
        content: 'of 100';
        font-size: .75rem;
        width: 100%;
        color: var(--Light-lavender);
        position: absolute; 
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%)
}
.box-left .text {
        margin: 0.125rem auto;
        width: 75%
}
.box-left .text span {
        font-size: 1.563rem;
        font-weight: 800;
        color: var(--White)
}
.box-left .text p {
        font-size: var(--size);
        color: var(--Light-lavender);
        margin: 1.25rem auto;
        text-transform: none
}
/* End Left Box */
/* Start Right Box */
.box-right {
        background-color: var(--White);
        border-radius: 0px;
        padding: var(--padding-box);
        flex-basis: 50%
}
.box-right h2 {
        font-size: var(--heading-size);
        color: var(--Dark-gray-blue);
        margin-block-end: 1.875rem
}
.box-right ul {
        list-style: none
}
.box-right ul li {
        border-radius: 10px;
        padding: 1.25rem 2.5rem;
        margin: 0.938rem auto;
        position: relative;
        font-weight: 700;
        font-size: 1.063rem
}
.box-right ul li img {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%)
}
.box-right ul li:nth-child(1){
        background-color: #FFF6F5;
        color: var(--Light-red)
}
.box-right ul li:nth-child(2){
        background-color: #FFFBF2;
        color: var(--Orangey-yellow)
}
.box-right ul li:nth-child(3){
        background-color: #F2FBFA;
        color: var(--Green-teal)
}
.box-right ul li:nth-child(4){
        background-color: #F3F3FD;
        color: var(--Cobalt-blue)
}
.box-right ul li::before, 
.box-right ul li::after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%)
}
.box-right ul li::before {
        content: attr(data-text);
        --data-color: #43434F;
        color: var(--Light-lavender);
        position: absolute;
        right: 60px;
        color: var(--data-color)
}
.box-right ul li::after {
        content: ' / 100';
        --AfterColor: hsla(224, 30%, 27%, 0.6);
        color: var(--AfterColor);
        position: absolute;
        right: 15px
}
.box-right button {
    display: block;
    all: unset;
    color: var(--White);
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    padding: 0.938rem;
    border-radius: var(--border-r);
    transition: .5s;
    background-color: var(--Dark-gray-blue);
    width: 90%;
    margin-block-start: 1.875rem;
}
.box-right button:hover {
    background-color: var(--Light-royal-blue-background);
}

@media (min-width: 48rem) {
    .box {flex-direction: row}
    .box-left {border-radius: var(--border-r)}
    .box-right {border-radius: var(--border-r)}
    .box-right ul li {padding: 0.938rem 2.5rem}
    .box-right button {margin-block-start: 2.188rem}
}
